body {
  background-color:#8CA8CD;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
img {
  width: 320px;
  margin-bottom: 30px;
}
/********************* TEXT *********************/
h1 {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 40px;
  color: white;
  text-align: center;
}
p {
  margin-left: 20px;
  color: white;
}
.dropdown-labels {
  margin-left: 20px;
  color: white;
  font-weight: bold;
}
.other-labels {
  margin-left: 20px;
  color: #323770;
  font-weight: bold;
}
/********************* SECTIONS *********************/
# container {
  width: 100%;
  overflow: hidden;
}
# left-container {
  height: 937px;
  width: 360px;
  background-color:#CBA870;
  float: left;
  margin: 0;
}
# right-container {
  margin-left: 340px;
}
# visualisation {
  margin-top: 30px;
  width: 100%;
  overflow: hidden;
  height: 430px;
}
# stacked-bar {
  width: 675px;
  height: 430px;
  margin-left: 35px;
  float: left;
}
# choropleth {
  width: 675px;
  height: 430px;
  margin-left: 800px;
  margin-right: 20px;
  autosize=True;
}
# line-combined {
  margin-left: 800px;
  margin-right: 20px;
}
# line-new-vs-returning {
  margin-left: 800px;
  margin-right: 20px;
}
/********************* BUTTONS *********************/
# update-button {
  width: 240px;
  height: 40px;
  border-radius: 5px;
  margin-left: 60px;
  margin-top: 30px;
  border: 0px;
  cursor: pointer;
  background-color: #8CA8CD;
  color: white;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 15px;
}
# update-button:hover {
  background-color: #10478E;
  color: white;
}
/********************* DROPDOWNS *********************/
.dropdown {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
}
.dropdown .Select-control{
  background-color: white;
}
.dropdown .Select-menu-outer{
  background-color: white;
}
.dropdown .Select-value{
  background-color: #F46565;
  color: white;
  font-size: 14px;
}
.dropdown .VirtualizedSelectFocusedOption {
  background-color: #a5ecd1;
  color: black;
}
.dropdown .VirtualizedSelectOption  {
  font-size: 14px;
}
